<!DOCTYPE html>
<html>
<head>
    {% block title %}
    <title>Home</title>
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Kappe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.useso.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>

    <!-- jQuery-->
    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <!-- Custom Theme files -->
    {% block style %}
        <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
    {% endblock %}
    {% block script %}

    {% endblock %}
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?617934d4f220abfbea70a8f52d67bf82";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<div class="header">
    <!---->
    {% block left %}
    <div class="header-left">
        <div class="logo">
            <a href="/"><img src="{{ asset('bundles/app/images/logo.png') }}" alt=""></a>
        </div>
        <div class="top-nav">
            <ul >
                {% set leftTree = app.session.get('tree')  %}
                {%  for key, tr in leftTree  %}
                    <li {% if key == cate-1 %} class="active" {% endif %} ><a href="/?cate={{ tr['id'] }}" >{{ tr['category_name'] }}</a></li>

                {% endfor %}

            </ul>
        </div>
    </div>
    {% endblock %}

    {% block mainContent %}
    <div class="content">
        <div class="blog">
            <div class="blog-top">
                <div class="col-d">
                    {#<script src="{{ asset('bundles/app/js/responsiveslides.min.js') }}"></script>#}
                    {#<script>#}
                        {#$(function () {#}
                            {#$("#slider1").responsiveSlides({#}
                                {#auto: true,#}
                                {#speed: 500,#}
                                {#namespace: "callbacks",#}
                                {#pager: false,#}
                                {#nav:true,#}
                            {#});#}
                        {#});#}
                    {#</script>#}
                    <div class="slider1">
                        <div class="callbacks_container">
                            <ul class="rslides" id="slider1">
                                <li>
                                    <img src="{{ asset('bundles/app/images/') }}bl.jpg" alt="">

                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/images/') }}bl1.jpg" alt="">

                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/images/') }}bl2.jpg" alt="">

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-in">
                        <h5><a href="single.html">Gallery Post Example</a></h5>
                        <p>A man who works with his hands is a laborer; a man who works with his hand s and his brain </p>
                        <ul class="date">
                            <li><span><a href="#"><i ></i>12 Comments</a></span></li>
                            <li><span><i class="date-in"></i>09-07-2013</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-d">
                    <a  href="single.html"><img  src="{{ asset('bundles/app/images/') }}bl2.jpg" />
                        <label> </label></a>
                </div>
                <div class="col-in">
                    <p>Another Post where you can put a link</p>
                    <a href="http://w3layouts.com/" target="_blank">W3layouts.com</a>
                </div>
            </div>
            <div class="blog-top">
                <div class="col-in">
                    <p>Another Post where you can put a link</p>
                    <a href="http://w3layouts.com/" target="_blank">W3layouts.com</a>
                </div>
                <div class="col-d">
                    <iframe src="https://player.vimeo.com/video/66087280?color=ffffff&title=0&byline=0&portrait=0"  ></iframe>
                    <div class="blog-in">
                        <h5><a href="single.html">Gallery Post Example</a></h5>
                        <p>A man who works with his hands is a laborer; a man who works with his hand s and his brain  </p>
                        <ul class="date">
                            <li><span><a href="#"><i ></i>12 Comments</a></span></li>
                            <li><span><i class="date-in"></i>09-07-2013</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-d">
                    <a href="single.html"><img  src="{{ asset('bundles/app/images/') }}bl.jpg" /></a>
                    <div class="blog-in">
                        <h5><a href="single.html">Gallery Post Example</a></h5>
                        <p>A man who works with his hands is a laborer; a man who works with his hand s and his brain</p>
                        <ul class="date">
                            <li><span><a href="#"><i ></i>12 Comments</a></span></li>
                            <li><span><i class="date-in"></i>09-07-2013</span></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="blog-top">
                <div class="col-d">
                    <a href="single.html"><img  src="{{ asset('bundles/app/images/') }}bl2.jpg" />
                        <label> </label></a>
                </div>
                <div class="col-d">
                    <img  src="{{ asset('bundles/app/images/') }}bl1.jpg" />
                    <div class="blog-in">
                        <h5><a href="single.html">Gallery Post Example</a></h5>
                        <p>A man who works with his hands is a laborer; a man who works with his hand s and his brain </p>
                        <ul class="date">
                            <li><span><a href="#"><i ></i>12 Comments</a></span></li>
                            <li><span><i class="date-in"></i>09-07-2013</span></li>
                        </ul>
                    </div>
                </div>

                <div class="col-in-at">
                    <h5><a href="single.html">Aside Post Format</a></h5>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh</p>
                </div>
            </div>
            <div class="blog-top">
                <div class="col-on">
                    <p>Logic will get you from A to B. Imagination will.</p>
                    <img  src="{{ asset('bundles/app/images/') }}qu.png" />
                    <span>Albert Einstein</span>
                </div>
                <div class="col-d">
                    <a href="single.html"><img  src="{{ asset('bundles/app/images/') }}bl.jpg" /></a>
                    <div class="blog-in">
                        <h5><a href="single.html">Gallery Post Example</a></h5>
                        <p>A man who works with his hands is a laborer; a man who works with his hand s and his brain </p>
                        <ul class="date">
                            <li><span><a href="#"><i ></i>12 Comments</a></span></li>
                            <li><span><i class="date-in"></i>09-07-2013</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-d">
                    <iframe src="https://player.vimeo.com/video/12879013?portrait=0" ></iframe>
                    <div class="blog-in">
                        <h5><a href="single.html">Gallery Post Example</a></h5>
                        <p>A man who works with his hands is a laborer; a man who works with his hand s and his brain  </p>
                        <ul class="date">
                            <li><span><a href="#"><i ></i>12 Comments</a></span></li>
                            <li><span><i class="date-in"></i>09-07-2013</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="blog-top">
                <div class="col-d">
                    <script>
                        $(function () {
                            $("#slider2").responsiveSlides({
                                auto: true,
                                speed: 500,
                                namespace: "callbacks",
                                pager: false,
                                nav:true,
                            });
                        });
                    </script>
                    <div class="slider2">
                        <div class="callbacks_container">
                            <ul class="rslides" id="slider2">
                                <li>
                                    <img src="{{ asset('bundles/app/images/') }}bl2.jpg" alt="">

                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/images/') }}bl1.jpg" alt="">

                                </li>
                                <li>
                                    <img src="{{ asset('bundles/app/images/') }}bl.jpg" alt="">

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-in">
                        <h5><a href="single.html">Gallery Post Example</a></h5>
                        <p>A man who works with his hands is a laborer; a man who works with his hand s and his brain  </p>
                        <ul class="date">
                            <li><span><a href="#"><i ></i>12 Comments</a></span></li>
                            <li><span><i class="date-in"></i>09-07-2013</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-d">
                    <img  src="{{ asset('bundles/app/images/') }}pi5.jpg" />
                    <div class="blog-in">
                        <h5><a href="single.html">Gallery Post Example</a></h5>
                        <p>A man who works with his hands is a laborer; a man who works with his hand s and his brain  </p>
                        <ul class="date">
                            <li><span><a href="#"><i ></i>12 Comments</a></span></li>
                            <li><span><i class="date-in"></i>09-07-2013</span></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="clear"> </div>
        </div>
        <div class="arrow arrow-at">
            <img  src="{{ asset('bundles/app/images/ic.png') }}" />
        </div>
    </div>


    {% endblock %}
{% block footer %}
</div>
</body>
</html>
{% endblock %}