{% extends 'layout.html.twig' %}
{% block style %}
    <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/app/css/lightbox.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block mainContent %}
<div class="content">
    <div class="single">
        <div class="single-top">
            <script src="{{ asset('bundles/app/js/responsiveslides.min.js') }}"></script>
            <script>
                $(function (jq) {
                    jq("#slider").responsiveSlides({
                        auto: true,
                        speed: 500,
                        namespace: "callbacks",
                        pager: true
                    });
                })(jQuery);
            </script>
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">
                        {% for tl in list %}
                            <li><a class="example-image-link" href="http://admin.aiyaojing.com/{{ tl['originalImage'] }}" data-lightbox="example-set" data-title="{{ tl['imageAbstract'] }}"><img class="example-image" src="http://admin.aiyaojing.com/{{ tl['mediumImage'] }}" alt=""/></a></li>
                        {% endfor %}

                    </ul>
                </div>
            </div>

            <h2>{{ collect[0]['title'] }}</h2>
            <p class="para">{{ collect[0]['abstract'] }}</p>

        </div>
        <div class="single-in">
            <div class="info">
                <h3>个人信息</h3>
                <ul class="likes">
                    <li><a href="#"><i > </i>{{ user[0]['userName'] }}</a></li>
                    <li><span><i class="like"> </i>{{ user[0]['praise'] }} 喜欢</span></li>
                    <li><span><i class="dec"> </i>{{ user[0]['loginTime']|date("Y-m-d") }}</span></li>
                    {#<li><a href="#"><i class="comment"> </i>4 Comments</a></li>#}

                </ul>
            </div>
            <div class="tags">
                <h3>标签</h3>
                <ul class="tag">
                    {% if user[0]['attr'] is not empty  %}
                        {% for ur in user[0]['attr'] %}
                            <li><a href="#">{{ ur.labelName }}</a></li>
                        {% endfor %}
                    {% endif %}

                </ul>
            </div>


        </div>
        <div class="clear"> </div>
    </div>
</div>
    <script src="{{ asset('bundles/app/js/lightbox-plus-jquery.min.js') }}"></script>
{% endblock %}
